* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(183, 141, 89);
    font: normal 12pt Arial;
}
#title {
    text-align: center;
    color: white;
    margin: 20px 0;
}
#content {
    background-color: white;
    width: 500px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 2.5px 2.5px 3px rgb(0, 0, 0, 0.5);
}
label, input {
    display: block;
}
input {
    margin: 5px 0 15px 0;
    width: 100%;
}
input[type='number'] { 
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    border: solid 1.5px black;
}
input[type='button'] {
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(183, 141, 89);
    color: white;
    font-weight: bold;
    transition: all 0.3s;
}
input[type='button']:hover {
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.85);
    cursor: pointer;
}
input[type='button']:active {
    opacity: 0.7;
}
#github-tag {
    color: white;
    margin-top: 20px;
    text-align: center;
}